/* Write your CSS code here
/* .aboutContainer {
  display: flex;
  flex-direction: column;
} */

/*.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */
