/* Write your CSS code here */
/* .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.nav-list-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.list {
  margin: 20px;
} */
